.container {
  border: 1px solid black;
  width: 50vw;
  padding: 10px;

  .parent-table {
    border-collapse: separate;
    border-spacing: 0 10px;
    table-layout: fixed;
    width: 50vw;

    th, td {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .color-cell {
      width: fit-content;
      margin: 0 auto;
    }

    td {
      border: 1px solid black;
      border-left: 0;
      border-right: 0;
      padding: 8px;
      text-align: center;
      &:first-child {
        border-left: 1px solid black;
      }
      &:last-child {
        border-right: 1px solid black;
      }
    }
  }

  .child-table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;

    tr, td {
      border: 0;
    }
  }
}
